/*
File-Name: cloudPage.css
Description: Includes styling code related to cloud upload page. 
*/

#dvCloudContainer {
	border: none;
	Height: 606px;
	Width: 241px;
	background-color: #2266ff;
}

.cloudHeader {
	height: 80px;
	padding-left: 40px;
	padding-top: 100px;
}

#cloudHeaderLabel {
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
}

#attchToProjLabel {
	color: #C9CBCC;
	font-family: Arial;
	font-size: 14px;
}

#cloudText {
	height: 25px;
	width: 210px;
	font-size: 18px;
	font-family: Arial;
}

#uploadButton {
	width: 210px;
	border: 1px solid #ffffff;
	height: 25px;
	padding-top: 3px;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
}

#uploadButton:HOVER {
	border: 2px solid #ffffff;
	font-weight: b
}

#projectTable {
	margin-left: 12px; 
	width: 216px; 
	padding: 0px; 
	margin-top: 2px; 
	background-color: white; 
	color: #C9CBCC; 
	font-family: Arial; 
	font-size: 16px;
	cursor: pointer;
	border: none;
}

#projectTable tr {
    background-color: white;
    color: #6d6d6d;
    height: 25px;
    vertical-align: middle;
    padding: 0px;
    border: none;
}

#projectTable tr td {
 	vertical-align: middle;
 	padding-left: 3px;
 	padding-top: 3px;
 	margin: 0px;
}

#projectTable tr:HOVER {
    background-color: #C9CBCC;
    color: white;
    height: 25px;
    vertical-align: middle;
}

.highlight {
	background-color: #6d6d6d !important;
	color: #ffffff !important;
}

.marginLeft12 {
	margin-left: 12px;
}