/*
File-Name: cloudPage.css
Description: Includes styling code related to cloud upload page. 
*/

#dvCloudContainer {
	border: none; Height: 676px;
	Width: 241px;
	background-color: #4990E2;
}

.cloudHeader {
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

.handCursor {
	cursor: default;
}

#cloudHeaderLabel {
	color: #ffffff;
	font-family: aauxProBol;
	font-size: 25px;
	font-style: normal;
	line-height: 1.2;
}

.projFolderText {
	height: 70px;
	width: 100%;
	text-align: center;
	padding-top: 0px;
}

.White17AauxReg{
	font-family: aauxPro !important;
	font-size: 17px !important;
	color: #ffffff !important;
	font-style: normal;
}

#attchToProjLabel {
}

.cloudTextDiv {
	height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 0px;
}

#cloudText {
	height: 25px;
	width: 210px;
	background-color: transparent;  
	border-style: solid;  
	border-width: 0px 0px 1px 0px;  
	border-color: #ffffff;
	outline: 0;
}

#cloudTextPlus {
	width: 17px;
	background-color: transparent;  
	border-style: none;  
	outline: 0;
	background: url("../assets/images/plus_15.png") no-repeat;
	margin-left: -22px;
	cursor: default;
}

#uploadButton {
	width: 184px;
	border: 1px solid #ffffff;
	height: 30px;
	line-height: 30px;
	text-align: center;
    -webkit-border-radius:5px;
	cursor: default;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

#uploadBtnLabel {
	color: #ffffff;
	font-family: aauxPro;
	font-weight: normal;
	font-size: 17px;
}

#uploadButton:HOVER {
	border: 2px solid #ffffff;
	font-weight: bold;
}

#uploadingGif {
	width: 100%;
	text-align: center;
	display: none;
	margin-bottom: 0px;
}

#projectTable {
	margin-left: 12px; 
	width: 216px; 
	padding: 0px; 
	margin-top: 2px; 
	background-color: white; 
	color: #000000; 
	font-family: aauxPro; 
	font-size: 17px;
	cursor: default;
	border: none;
}

#projectTable tr {
    background-color: white;
    color: #000000;
    height: 25px;
    vertical-align: middle;
    padding: 0px;
    border: none;
}

#projectTable tr td {
 	vertical-align: middle;
 	padding-left: 3px;
 	padding-top: 3px;
 	margin: 0px;
}

#projectTable tr:HOVER {
    background-color: #C9CBCC;
    color: #000000;
    height: 25px;
    vertical-align: middle;
}

.highlight {
	background-color: #6d6d6d !important;
	color: #ffffff !important;
}

#uploadButton.disabled {
    cursor: not-allowed;
}

.projectLink {
	color: #ffffff;
	font-family: aauxProBol;
	font-size: 17px;
	cursor: default;
}

#successUploadBlock {
	text-align: center;
	margin-top: 30px;
}

#cloudText::-webkit-input-placeholder {
   color: white;
}
