/*
File-Name: loadFonts.css
Description: Loads external fonts to panel. 
*/

@font-face {
    font-family: aauxPro;
    src: url("../assets/fonts/AauxPro.ttf");
}

@font-face {
    font-family: aauxProBla;
    src: url("../assets/fonts/AauxProBla.ttf");
}

@font-face {
    font-family: aauxProBol;
    src: url("../assets/fonts/AauxProBol.ttf");
}