/*
File-Name: loginStyle.css
Description: Includes styling code related to login page. 
*/

#loginContainer {
	border: none;
	height: 610px;
	width: 244px;
	background-color: #4990E2;
}

#dvLoginContainer {
    width: 244px;
	height: 535px;
}

#dvLoginContainer ul {
	height: 200px;
}

#dvLoginContainer ul li{
	margin-bottom: 15px;
}

#logoContainer {
    margin: 0 auto;
    width: 86px;    
}
#specctrLoginImage {
	padding-top: 30px;
}

ul#loginBlock, ul#activateBlock {
    width: 200px;
    margin: 0 auto;
	list-style-type: none;
}

.loginTextItem {
	height: 30px !important;
	width: 196px;
	font-size: 18px;
	font-family: Arial;
}

.activationHeader {
    text-align: center;
	padding-top: 30px;
	height: 86px;
    width: 100%;
    margin: 0 auto;
}

#loignHeaderLabel {
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
}

.loginPageButton {
	width: 180px;
	border: 1px solid #ffffff;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: default;
	-webkit-border-radius:5px;
}

.loginPageButton label {
	color: #ffffff;
	font-family: aauxProBol;
	font-size: 20px; 
	cursor: default;
	font-style: normal;
}

#loginFooter {
	margin-top: 20px !important;
	width: 244px !important;
	text-align: center;
}

#loginFooter label {
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	cursor: default;
}

#loggingGif {
	width: 100%;
	text-align: center;
	display: none;
	margin-bottom: 0px;
}

#errorLoginDiv{
	padding-top: 30px;
	height: 86px;
	width: 100%;
	text-align: center;
	display: none;
}

.errorLoginMsg {
	color: #000000;
	font-family: aauxProBol;
	font-size: 17px; 
	cursor: default;
	font-style: normal;
}

.passErrLink {
	color: #ffffff;
	font-family: aauxProBol;
	font-size: 14px;
	cursor: default;
}