/*
File-Name: loginStyle.css
Description: Includes styling code related to login page. 
*/

ul#loginBlock, ul#activateBlock {
	list-style-type: none;
}

#loginContainer {
	border: none;
	Height: 606px;
	Width: 241px;
	background-color: #4990E2;
}

#dvLoginContainer {
	height: 535px;
}

#dvLoginContainer ul {
	height: 200px;
	margin-left: 16px;
}

#dvLoginContainer ul li{
	margin-bottom: 15px;
}

#specctrLoginImage {
	padding-left: 75px;
	padding-top: 30px;
}

.loginTextItem {
	height: 30px !important;
	width: 196px;
	font-size: 18px;
	font-family: Arial;
	padding-left: 8px !important;
}

.activationHeader {
	padding-top: 30px;
	height: 86px;
	padding-left: 16px;
}

#loignHeaderLabel {
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
}

.loginPageButton {
	width: 206px !important;
	border: 1px solid #ffffff;
	height: 35px !important;
	padding-top: 13px;
	text-align: center;
	cursor: default;
}

.loginPageButton label {
	color: #ffffff;
	font-family: aauxProBol;
	font-size: 20px; 
	cursor: default;
}

#loginFooter {
	margin-top: 20px !important;
	width: 240px!important;
	text-align: center;
}

#loginFooter label {
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	cursor: default;
}