/*
File-Name: spacingButtonStyle.css
Description: Includes styling code related to spacing button. 
*/

#liSpacing .option
{
    background-repeat: no-repeat;
    background-position: center;
}

#liSpacing .options
{
    height: 50px;
}

#liSpacing:hover .options
{
    margin-left: -1px !important;
}
