/*
File-Name: spacingButtonStyle.css
Description: Includes styling code related to spacing button. 
*/

#imgSpaceTop {
    background-image: url('../assets/images/SpacingDropDownIcons/SpaceTop.png');
}

    #imgSpaceTop:hover {
        background-image: url('../assets/images/SpacingDropDownIcons/SpaceTopOver.png');
    }

.topSelected {
	background-image: url('../assets/images/SpacingDropDownIcons/SpaceTopSelected.png') !important;
	background-color: #D2D2D2;
}

#imgSpaceRight {
    background-image: url('../assets/images/SpacingDropDownIcons/SpaceRight.png');
}

    #imgSpaceRight:hover {
        background-image: url('../assets/images/SpacingDropDownIcons/SpaceRightOver.png');
    }

.rightSelected {
	background-image: url('../assets/images/SpacingDropDownIcons/SpaceRightSelected.png') !important;
	background-color: #D2D2D2;
}

#imgSpaceBottom {
    background-image: url('../assets/images/SpacingDropDownIcons/SpaceBottom.png');
}

    #imgSpaceBottom:hover {
        background-image: url('../assets/images/SpacingDropDownIcons/SpaceBottomOver.png');
    }

.bottomSelected {
	background-image: url('../assets/images/SpacingDropDownIcons/SpaceBottomSelected.png') !important;
	background-color: #D2D2D2;
}

#imgSpaceLeft {
    background-image: url('../assets/images/SpacingDropDownIcons/SpaceLeft.png');
}

    #imgSpaceLeft:hover {
        background-image: url('../assets/images/SpacingDropDownIcons/SpaceLeftOver.png');
    }

.leftSelected {
	background-image: url('../assets/images/SpacingDropDownIcons/SpaceLeftSelected.png') !important;
	background-color: #D2D2D2;
}
