/*
File-Name: style.css
Description: Includes all the styling code of UI. 
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*----------Default styles of components.----------------------*/
body {
	font-family: sans-serif;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	border: 2px solid #C9CBCC;
}

input[type="text"],input[type="email"],input[type="password"] {
	border: 1px solid #C9CBCC;
	padding: 2px;
	height: 20px;
	background-color: #ffffff;
	-webkit-user-select: auto;
	cursor: text;
}

input[type="checkbox"] {
	vertical-align: bottom;
	margin: 0px;
}

input[type="radio"] {
	margin-left: 0px !important;
	margin-bottom: 1px !important;
}

input[type="text"]:disabled {
	background: #e1e1e1 !important;
}

label {
	cursor: inherit;
}
/*-------------------------------------------------------------*/

/*----Common styles used in entire panel in different block----*/
.hideBlock {
	display: none;
}

.showBlock {
	display: block;
}

.psElement {
	display: none;
}

.nonPsElement {
	display: block;
}

.bgColor000000 {
	background-color: #000000 !important;
}

.bgColorB3B3B3 {
	background-color: #B3B3B3 !important;
}

.bgColorF44336 {
	background-color: #F44336 !important;
}

.bgColorE91E63 {
	background-color: #E91E63 !important;
}

.bgColor9C27B0 {
	background-color: #9C27B0 !important;
}

.bgColor673AB7 {
	background-color: #673AB7 !important;
}

.bgColor3F51B5 {
	background-color: #3F51B5 !important;
}

.bgColor2196F3 {
	background-color: #2196F3 !important;
}

.bgColor00BCD4 {
	background-color: #00BCD4 !important;
}

.bgColor009688 {
	background-color: #009688 !important;
}

.bgColor4CAF50 {
	background-color: #4CAF50 !important;
}

.bgColor8BC34A {
	background-color: #8BC34A !important;
}

.bgColorCDDC39 {
	background-color: #CDDC39 !important;
}

.bgColorFFEB3B {
	background-color: #FFEB3B !important;
}

.bgColorFFC107 {
	background-color: #FFC107 !important;
}

.bgColorFF9800 {
	background-color: #FF9800 !important;
}

.bgColorFF5722 {
	background-color: #FF5722 !important;
}
.bgColorFFFFFF {
	background-color: #FFFFFF !important;
}

.marginTop10px {
	margin-top: 10px !important;
}

.marginTop15px {
	margin-top: 15px !important;
}

.marginTop20px {
	margin-top: 20px;
}

.marginTop30px {
	margin-top: 30px;
}

.marginTop50px {
	margin-top: 50px;
}

.marginBottom10px {
	margin-bottom: 10px !important;
}

.marginBottom20px {
	margin-bottom: 20px !important;
}

.marginBottom1px {
	margin-bottom: 1px !important;
}

.marginRight20px {
	margin-right: 20px !important;
}

.marginTopBottom10px {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.marginLeft6px {
	margin-left: 6px !important;
}

.marginLeft22px {
	margin-left: 22px !important;
}

.marginTopBottom20px {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.label10Px {
	font-family: sans-serif;
	font-size: 10px;
	color: #4B4B4B;
}

.alignLeftMiddle {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.alignMiddle{
	vertical-align: middle !important;
}

.link {
	color: #3199F6;
	font-family: sans-serif;
	font-size: 11px;
	cursor: default;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.textAllignCenter {
	text-align: center;
}

.boldText {
	font-weight: bold;
}

.setBlueLabel {
	color: #3577FA !important;
	font-weight: bold !important; 
}

.setSettingColor {
	color: #3577FA !important;
}

.width150px {
	width: 150px !important;
}

.h4 {
	font-family: aauxProBla;
	font-size: 13px;
	color: #666666;
	font-weight: normal;
}

.h5 {
	font-family: aauxPro;
	font-size: 11px;
	color: #666666;
}
/*-------------------------------------------------------------*/

/*------------------Modal dialog styling-----------------------*/
.ui-dialog {
	font-size: 10px !important;
}

.ui-state-default .ui-icon {
	background-image: url("../assets/images/ui-icons_888888_256x240.png")
		!important;
}

.ui-widget-overlay {
	opacity: .60 !important;
	background-color: rgb(50, 50, 50) !important;
}
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------
------------------Tab container styles-------------------------
---------------------------------------------------------------*/

/*---------------Style applied on tabs block-------------------*/
.tabs {
	height: 48px;
}

.tabs>ul {
	list-style: none;
	cursor: default;
}

.tabs>ul>li {
	text-align: center;
	border: none;
	float: left;
	width: 60px;
	height: 48px;
	cursor: default;
	overflow: hidden;
	padding-top: 6px;
}

.tabs>ul>li>img {
	margin-top: 4px;
	width: 54px;
}
/*-------------------------------------------------------------*/

/*---------------Style applied on tab pages--------------------*/
.tabscontent {
	padding-top: 10px;
	padding-bottom: 15px;
	height: 495px;
}

.tabTitle {
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	color: #808080;	
	background-color: #D9D9D9;
	height: 18px;
	padding-top: 4px;
}

.tabPageCheckBoxRow {
	font-family: Arial;
	font-size: 11px;
	width: 200px;
}
/*-------------------------------------------------------------*/

/*---------------Style applied on first tab page---------------*/

#tabpage_1 .isOpen .buttonSelected {
	border: 1px solid #808080 !important;
	border-bottom-color: transparent !important;
	background-color: #FFFFFF;
}

.menu {
	margin: 15px 8px 0px 8px;
}

.menu li {
	list-style-type: none;
	font-family: aauxPro;
	font-size: 13px;
	margin-top: 6px;
}

.button {
	width: 222px;
	padding: 0px;
	display: table;
	text-align: left;
	cursor: default;
}

.button:hover label, .buttonSelected label{
	font-family: aauxProBol !important;
}

.button img {
	display: table-cell;
	float: left;
	width: 49px;
	margin-left: 5px;
	background-size: 49px 49px;
}

.button label {
	display: table-cell;
	float: left;
	margin-left: 16px;
	margin-top: 15px;
	font-family: aauxPro;
	font-size: 18px !important;
	cursor: default;
}

.border {
	border: 1px solid #A6A8AB;
}

.border:hover {
	border: 1px solid red;
	background-image: none;
}

.downArrowParentDiv {
	float: right;
	width: 22px;
	height: 26px;
	padding-top: 23px;
	padding-right: 3px;
}

.dropdownArrow {
	float: right;
	background: url("../assets/images/navArrowGreyDown.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 10px;
}

.dropdownArrowUp {
	float: right;
	background: url("../assets/images/navArrowGreyUp.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 10px;
}

.options {
	display: none;
	width: 222px;
	border: 1px solid #808080;
	position: absolute;
	background-image: linear-gradient(to bottom, #E1E1E1 0%, #F8F8F8 20%);
	border-top: none;
	margin-top: -1px !important;
}

.option {
	float: left;
	width: 55.5px;
	height: 50px;
	cursor: default;
	background-position: center;
	background-repeat: no-repeat;
}

#canvasExpandSize {
	width: 172px;
	height: 34px;
	padding-left: 8px;
	font-family: Arial;
	font-size: 14px;
	outline: 0;
	-webkit-user-select: auto;
	border: none;
	margin-top: 8px;
	margin-left: 4px;
}

#noteDropDown div {
	height: 100px;
	cursor: default;
	background-position: center;
}

#noteText {
	margin-top: 4px;
	width: 212px;
	height: 88px;
	padding-left: 8px;
	padding-top: 4px;
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	outline: 0;
	-webkit-user-select: auto;
	border: none;
	resize: none;
}

#expandDropDown div {
	height: 50px;
	cursor: default;
	background-position: center;
}

#expandDropDown div label {
	margin-left: 4px;
	vertical-align: middle;
	text-align: left;
	color: #808080;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on second tab page---------------*/
.tabPage2PropertiesHeader {
	font-family: aauxProBla;
	font-size: 17px;
	color: #666666;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 4px;
}

.tabPage2Content {
	font-family: aauxPro;
	font-size: 16px;
	color: #4d4d4d;
	font-weight: normal;
	margin-top: 2px;
	margin-left: 22px;
}

.tabPage2Content label {
	padding-left: 8px;
}

.tabPage2Content input[type="checkbox"] {
	margin-bottom: 3px !important;
}

/*-------------------------------------------------------------*/

/*--------------Style applied on third tab page----------------*/
#tabpage_3 {
	color: #666666;
}

.responsivePageHeader {
	font-family: aauxProBla;
	font-size: 17px;
	color: #666666;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 20px;
}

.height100px {
	height: 100px !important;
}

.height25px {
	height: 25px !important;
}

.inputStyle {
	width: 55px;
	height: 20px;
	margin-right: 5px !important;
	text-align: left !important;
	padding: 2px 0px 0px 2px !important;
	font-family: sans-serif !important;
	font-size: 12px !important;
	border: 1px solid #666766 !important;
	border-radius: 2px;
	-webkit-user-select: auto;
}

#tabpage_3 input[type="checkbox"] {
	margin-bottom: 4px !important;
	margin-right: 8px !important;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on fourth tab page----------------*/
.subscriptionNote {
	font-family: aauxPro !important;
	font-size: 12px !important;
	margin-left: 10px;
	color: #808080;
}

.width216px {
	width: 216px;
}

#deActivate {
	margin-left: 8px;
}

#deActivate label {
	margin-left: 60px !important;
	margin-top: 2px !important;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on setting page----------------*/
#settingPage {
	padding-left: 6px !important;
	height: 568px !important;
	background-color: #ECECEC;
	border: 1px solid #C9CBCC;
	border-right-width: 3px;
	border-bottom: none;
}

.settingHeader {
	text-align: center;
	font-family: aauxPro;
	font-size: 11px;
	color: #808080;
	background-color: #F9F9F9;
	height: 20px;
	padding-top: 6px;
	margin-left: -6px;
	padding-left: 23px;
}

.settingHeader img {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: -3px !important;
	margin-right: 3px;
	cursor: default;
}

.settingline {
	border: 1px solid #666766;
	border-bottom: none;
	margin-top: 5px;
	margin-bottom: 13px;
	width: 216px;
}

.settingPageHeader {
	font-family: aauxProBla;
	font-size: 13px;
	text-align: left;
	padding-top: 13px;
	color: #666666;
}

.settingPageFirstChildBlock {
	display: table;
	font-family: sans-serif;
	font-size: 11px;
	width: 229px;
	padding-bottom: 5px;
	height: 120px;
}

.firstChildLeftBlock {
	font-family: Arial;
	font-size: 11px;
	width: 130px;
	display: table-cell;
	float: left;
	vertical-align: top;
}

.firstChildLeftBlock label {
	float: left;
	font-weight: normal;
}

.firstChildLeftBlock .colorBlock {
	float: left;
	width: 18px;
	height: 16px;
	cursor: default;
	border: 1px solid #000000;
}

.firstChildLeftBlock .colorBlock:HOVER {
	border: 1px solid #ffffff;
}

.firstChildLeftBlock .colorPicker {
	display: none;
	margin-left: 60px !important;
	margin-top: -5px !important;
	padding-left: 4px !important;
	width: 122px;
	height: 90px;
	border: 1px solid #AEAEAE;
	position: absolute;
	background-image: linear-gradient(to bottom, #E1E1E1 0%, #F8F8F8 20%);
	cursor: default;
}

.firstChildLeftBlock .colorText {
	width: 60px;
	margin-left: 3px !important;
	margin-top: 1px !important;
	margin-bottom: 2px !important;
	display: inline-block;
}

.firstChildLeftBlock .mainColorBlock {
	float: left;
	width: 28px;
	height: 16px;
	cursor: default;
	margin-top: 1px !important;
	border: 1px #AEAEAE inset;
	display: inline-block;
}

.firstChildRightBlock {
	width: 85px;
	display: table-cell;
	vertical-align: top;
}

.firstChildRightBlock label {
	float: left;
	margin-left: 2px;
	font-weight: normal;
}

.dropdown {
	background: url("../assets/images/Icon_Dropdown.png") no-repeat;
	background-color: #ffffff;
	border: 1px solid #666666;
	border-radius: 4px;
	height: 28px;
	margin-top: 9px;
	outline: 0 none;
	overflow: hidden;
	padding-left: 5px;
	font-family: Arial;
	font-weight: normal;
	color: #666666;
	vertical-align: middle;
	width: 135px !important;
	-webkit-appearance: none;
	font-size: 13px;
	cursor: default;
}

.colorPickerStyle {
	margin-top: 5px !important;
	width: 150px;
}

.colorPickerStyle>label {
	font-weight: normal;
	font-family: sans-serif;
	font-size: 14px;
	width: 60px;
}

.colorPickerAppearance {
	text-align: center;
	cursor: default;
	border: 0px transparent !important;
	margin-top: 0px;
	background-color: transparent;
}

.smalldropdown {
	background: url("../assets/images/SmallDropdownIcon.png") no-repeat;
	background-color: #ffffff;
	border: 1px solid #666666;
	border-radius: 4px;
	height: 26px;
	margin-top: 9px;
	outline: 0 none;
	overflow: hidden;
	padding-left: 5px;
	font-family: Arial;
	font-weight: normal;
	color: #666666;
	vertical-align: middle;
	width: 70px !important;
	-webkit-appearance: none;
	font-size: 13px;
	cursor: default;
}

.settingPageLabel {
	font-family: aauxProBol;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
}

.settingPageSecondChildBlock {
	font-family: Arial;
	font-size: 11px;
	width: 140px;
	display: table-cell;
	height: 63px;
}

.radioLabel {
	margin-left: -2px !important;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #707070;
	cursor: default;
}

.inputStyleSmall {
	width: 45px !important;
	height: 15px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	text-align: left !important;
	padding-left: 5px !important;
	padding-top: 1px !important;
	border: 1px solid #666766 !important;
	border-radius: 2px;
	font-family: Arial !important;
	font-size: 13px !important;
	color: #666666 !important;
}

#specToEdgeCheckbox {
	margin-top:6px;
	margin-bottom:10px;
	cursor: default;
}

#includeStrokeCheckbox {
	margin: 13px 0px 14px 0px;
	cursor: default;
}

#settingBlock {
	height: 38px;
}

.settingFooter {
	background-color: #ECECEC;
	border: 1px solid #C9CBCC;
	border-right-width: 3px;
	border-top: none;
	height: 37px !important;
}

.setFooterLayOut {
	margin-right: -3px;
	margin-top: -1px;
}

#settingIcon {
	margin-bottom: 4px;
	cursor: default;
}

#footerLabel {
	font-family: aauxProBol;
	font-size: 14px;
	font-style: normal;
	color: #6d6d6d;
	margin-top: 3px; 
	cursor: default;
}
/*-------------------------------------------------------------*/

@media ( -webkit-min-device-pixel-ratio : 2) {

}
