/*
File-Name: style.css
Description: Includes all the styling code of UI. 
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*----------Default styles of components.----------------------*/
body {
	font-family: sans-serif;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	border: 2px solid #C9CBCC !important;
}

input[type="text"],input[type="email"],input[type="password"] {
	border: 1px solid #C9CBCC !important;
	padding: 2px;
	height: 20px;
	background-color: #ffffff;
	-webkit-user-select: auto;
	cursor: text;
}

input[type="checkbox"] {
	vertical-align: bottom;
	margin: 0px;
}

input[type="text"]:disabled {
	background: #e1e1e1 !important;
}

label {
	cursor: default;
}
/*-------------------------------------------------------------*/

/*----Common styles used in entire panel in different block----*/
.hideBlock {
	display: none;
}

.showBlock {
	display: block;
}

.psElement {
	display: none;
}

.nonPsElement {
	display: block;
}

.bgColorE6E6E6 {
	background-color: #E6E6E6 !important;
}

.bgColor000000 {
	background-color: #000000 !important;
}

.bgColorFF0000 {
	background-color: #FF0000 !important;
}

.bgColorFF8800 {
	background-color: #FF8800 !important;
}

.bgColorFFFF00 {
	background-color: #FFFF00 !important;
}

.bgColor88FF00 {
	background-color: #88FF00 !important;
}

.bgColor00FF00 {
	background-color: #00FF00 !important;
}

.bgColor00FF88 {
	background-color: #00FF88 !important;
}

.bgColor00FFFF {
	background-color: #00FFFF !important;
}

.bgColor0000FF {
	background-color: #0000FF !important;
}

.bgColor8800FF {
	background-color: #8800FF !important;
}

.bgColorFF00FF {
	background-color: #FF00FF !important;
}

.bgColorFFFFFF {
	background-color: #FFFFFF !important;
}

.marginTop15px {
	margin-top: 15px !important;
}

.marginTop20px {
	margin-top: 20px;
}

.marginTop30px {
	margin-top: 30px;
}

.marginTop50px {
	margin-top: 50px;
}

.marginBottom20px {
	margin-bottom: 20px !important;
}

.marginBottom1px {
	margin-bottom: 1px !important;
}

.marginRight20px {
	margin-right: 20px !important;
}

.marginTopBottom10px {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.marginLeft6px {
	margin-left: 6px !important;
}

.marginLeft14px {
	margin-left: 14px !important;
}

.marginTopBottom20px {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.label10Px {
	font-family: sans-serif;
	font-size: 10px;
	color: #4B4B4B;
}

.alignLeftMiddle {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.alignMiddle{
	vertical-align: middle !important;
}

.link {
	color: #3199F6;
	font-family: sans-serif;
	font-size: 11px;
	cursor: pointer;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.textAllignCenter {
	text-align: center;
}

.boldText {
	font-weight: bold;
}

.setBlueLabel {
	color: #0000FF !important;
}

.width150px {
	width: 150px !important;
}

/*-------------------------------------------------------------*/

/*----------------Login container styles-----------------------*/
#loginContainer {
	border: none;
	Height: 541px;
	Width: 241px;
	background-color: #2266ff;
}

#dvLoginContainer {
	height: 470px;
}

#dvLoginContainer ul {
	height: 200px;
	margin-left: 10px;
}

#dvLoginContainer ul li{
	margin-bottom: 15px;
}

#specctrLoginImage {
	padding-left: 75px;
	padding-top: 30px;
}

.loginTextItem {
	height: 30px !important;
	width: 218px;
	font-size: 18px;
	font-family: Arial;
}

.loginHeader {
	height: 170px;
	padding-left: 15px;
	padding-top: 70px;
}

.activationHeader {
	padding-top: 30px;
	height: 120px;
	padding-left: 15px;
}

#loignHeaderLabel {
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
}

.loginPageButton {
	width: 220px !important;
	border: 1px solid #ffffff;
	height: 30px !important;
	padding-top: 3px;
	text-align: center;
	cursor: pointer;
}

.loginPageButton label {
	color: #ffffff;
	font-family: Arial;
	font-size: 20px; 
	cursor: pointer;
}

#loginFooter {
	margin-top: 20px !important;
	width: 240px!important;
	text-align: center;
}

#loginFooter label {
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	cursor: pointer;
}
/*-------------------------------------------------------------*/

/*------------------Modal dialog styling-----------------------*/
.ui-dialog {
	font-size: 10px !important;
}

.ui-state-default .ui-icon {
	background-image: url("../Images/ui-icons_888888_256x240.png")
		!important;
}

.ui-widget-overlay {
	opacity: .60 !important;
	background-color: rgb(50, 50, 50) !important;
}
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------
------------------Tab container styles-------------------------
---------------------------------------------------------------*/

/*---------------Style applied on tabs block-------------------*/
.tabs {
	height: 48px;
}

.tabs>ul {
	list-style: none;
	cursor: pointer;
}

.tabs>ul>li {
	text-align: center;
	border: none;
	background: #FFFFFF;
	float: left;
	width: 60px;
	height: 48px;
	cursor: pointer;
	overflow: hidden;
	padding-top: 6px;
}

.tabs>ul>li>img {
	margin-top: 4px;
	width: 54px;
}
/*-------------------------------------------------------------*/

/*---------------Style applied on tab pages--------------------*/
.tabscontent {
	padding-top: 10px;
	padding-bottom: 15px;
	height: 430px;
	background: #FFFFFF;
}

.tabTitle {
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	color: #808080;
	background-color: #D9D9D9;
	height: 19px;
	padding-top: 4px;
}

.tabPageCheckBoxRow {
	font-family: Arial;
	font-size: 11px;
	width: 200px;
}
/*-------------------------------------------------------------*/

/*---------------Style applied on first tab page---------------*/

#tabpage_1 .isOpen .buttonSelected {
	border: 1px solid #808080 !important;
	border-bottom-color: transparent !important;
	background-color: #FFFFFF;
}

.menu {
	margin: 15px 8px 0px 8px;
}

.menu li {
	list-style-type: none;
	font-family: Arial;
	font-size: 13px;
	margin-top: 6px;
}

.button {
	background-color: #E8E8E8;
	width: 222px;
	padding: 0px;
	display: table;
	text-align: left;
	cursor: pointer;
}

.button:hover, .buttonSelected {
	background-image: none;
	background-color: #F3F3F3;
}

.button img {
	display: table-cell;
	float: left;
	width: 49px;
	margin-left: 5px;
	background-size: 49px 49px;
}

.button label {
	display: table-cell;
	float: left;
	margin-left: 16px;
	margin-top: 15px;
	font-family: Arial !important;
	font-size: 18px !important;
	color: #444444 !important;
	cursor: pointer !important;
}

.border {
	border: 1px solid #E8E8E8;
	background-image: none;
}

.border:hover {
	border: 1px solid red;
	background-image: none;
}

.dropdownArrow {
	float: right;
	margin-top: 22px;
	margin-right: 5px;
	background: url("../Images/navArrowGreyDown.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 10px;
}

.dropdownArrowUp {
	float: right;
	margin-top: 20px;
	margin-right: 5px;
	background: url("../Images/navArrowGreyUp.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 10px;
}

.options {
	display: none;
	width: 222px;
	border: 1px solid #808080;
	position: absolute;
	background-image: linear-gradient(to bottom, #E1E1E1 0%, #F8F8F8 20%);
	border-top: none;
	margin-top: -1px !important;
}

.option {
	float: left;
	width: 55.5px;
	height: 50px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}

#canvasExpandSize {
	width: 172px;
	height: 34px;
	padding-left: 8px;
	font-family: Arial;
	font-size: 14px;
	outline: 0;
	-webkit-user-select: auto;
	border: none;
	margin-top: 8px;
	margin-left: 4px;
}

#expandDropDown div {
	height: 50px;
	cursor: pointer;
	background-position: center;
}

#expandDropDown div label {
	margin-left: 4px;
	vertical-align: middle;
	text-align: left;
	color: #808080;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on second tab page---------------*/
.tabPage2PropertiesHeader {
	font-size: 16px;
	margin-top: 14px;
	margin-left: 20px;
	margin-bottom: 8px;
}

.tabPage2Content {
	font-size: 13px;
	margin-top: 6px;
	margin-left: 22px;
}

.tabPage2Content label {
	padding-top: 5px;
	padding-left: 8px;
}

/*-------------------------------------------------------------*/

/*--------------Style applied on third tab page----------------*/
.responsivePageHeader {
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 20px !important;
	margin-left: 10px;
	font-weight: bold;
	color: #58585B;
}

.height100px {
	height: 100px !important;
}

.height25px {
	height: 25px !important;
}

.inputStyle {
	width: 60px;
	height: 20px;
	margin-left: 5px !important;
	margin-right: 5px !important;
	text-align: left !important;
	padding: 2px 0px 0px 2px !important;
	font-family: sans-serif !important;
	font-size: 12px !important;
	-webkit-user-select: auto;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on fourth tab page----------------*/
.subscriptionNote {
	font-family: Arial !important;
	font-size: 12px !important;
	color: #808080 !important;
	margin-left: 10px;
}

.width216px {
	width: 216px;
}
/*-------------------------------------------------------------*/

/*--------------Style applied on setting page----------------*/
#settingPage {
	padding-left: 9px !important;
	height: 503px !important;
	background-color: #E6E6E6;
}

.settingHeader {
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	color: #808080;
	background-color: #E6E6E6;
	height: 20px;
	padding-top: 5px;
	margin-left: -10px;
}

.settingHeader img {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: -4px !important;
}

.settingline {
	border: 1px solid #808080;
	margin-top: 5px;
	margin-bottom: 6px;
	width: 219px;
}

.settingPageHeader {
	font-family: sans-serif;
	font-size: 13px;
	text-align: left;
	padding-top: 4px;
	font-weight: bold;
}

.settingPageFirstChildBlock {
	display: table;
	font-family: sans-serif;
	font-size: 11px;
	width: 229px;
	padding-bottom: 5px;
	height: 120px;
}

.firstChildLeftBlock {
	font-family: Arial;
	font-size: 11px;
	width: 140px;
	display: table-cell;
	float: left;
	margin-left: -5px;
	vertical-align: top;
}

.firstChildLeftBlock label {
	float: left;
	margin-left: 5px;
	font-weight: normal;
	color: #707070;
}

.firstChildLeftBlock .colorBlock {
	float: left;
	width: 18px;
	height: 16px;
	cursor: pointer;
	border: 1px solid #000000;
}

.firstChildLeftBlock .colorBlock:HOVER {
	border: 1px solid #ffffff;
}

.firstChildLeftBlock .colorPicker {
	display: none;
	margin-left: 64px !important;
	margin-top: 2px !important;
	padding-left: 4px !important;
	width: 125px;
	height: 70px;
	border: 1px solid #AEAEAE;
	position: absolute;
	background-image: linear-gradient(to bottom, #E1E1E1 0%, #F8F8F8 20%);
	cursor: pointer;
}

.firstChildLeftBlock .colorText {
	width: 60px;
	margin-left: 3px !important;
	margin-top: 1px !important;
	display: inline-block;
}

.firstChildLeftBlock .mainColorBlock {
	float: left;
	width: 28px;
	height: 16px;
	cursor: pointer;
	margin-top: 1px !important;
	border: 1px #AEAEAE inset;
	display: inline-block;
}

.firstChildRightBlock {
	font-family: Arial;
	font-size: 11px;
	width: 75px;
	display: table-cell;
	vertical-align: top;
}

.firstChildRightBlock label {
	float: left;
	margin-left: 2px;
	font-weight: normal;
	color: #707070;
}

.dropdown {
	-moz-box-sizing: border-box;
	background: url("../Images/Icon_Dropdown.png") no-repeat scroll 0 0
		transparent;
	border: medium none;
	height: 25px;
	outline: 0 none;
	overflow: hidden;
	padding-left: 5px;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	width: 134px !important;
	-webkit-appearance: none;
	font-size: 1em;
}

.colorPickerStyle {
	margin-top: 5px !important;
	margin-left: 10px !important;
	height: 30x;
	width: 150px;
}

.colorPickerStyle>label {
	font-weight: normal;
	font-family: sans-serif;
	font-size: 14px;
	width: 60px;
}

.colorPickerAppearance {
	background: url("../Images/colorPickerImage.png") no-repeat scroll 0 0 transparent;
	color: transparent;
	text-align: center;
	width: 35px !important;
	height: 20px !important;
	cursor: pointer !important;
	border: 0px transparent !important;
	background-color: #ff0000;
	margin-top: -4px;
	-webkit-appearance: none;
}

.smalldropdown {
	-moz-box-sizing: border-box;
	background: url("../Images/SmallDropdownIcon.png") no-repeat scroll 0 0
		transparent;
	border: medium none;
	height: 24px;
	outline: 0 none;
	overflow: hidden;
	padding-left: 5px;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	width: 68px !important;
	-webkit-appearance: none;
	font-size: 1em;
}

.settingPageLabel {
	margin-left: 5px;
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #707070;
}

.settingPageSecondChildBlock {
	font-family: Arial;
	font-size: 11px;
	width: 140px;
	display: table-cell;
	height: 64px;
}

.radioLabel {
	margin-left: -2px !important;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #707070;
}

.inputStyleSmall {
	width: 35px !important;
	height: 20px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	text-align: left !important;
	padding-left: 5px !important;
	-webkit-user-select: auto;
}

#includeStrokeCheckbox {
	margin: 15px 0px 15px 6px;
}

#settingBlock {
	height: 38px;
}

#settingIcon {
	margin-bottom: 4px;
}

#footerLabel {
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	color: #808080;
	margin-top: 3px; 
}
/*-------------------------------------------------------------*/

@media ( -webkit-min-device-pixel-ratio : 2) {

}
